<!-- <input type="text" name="" id="" [(ngModel)]="d">
<div>{{d}}</div> -->

<h1>Parent</h1>

<table class="table" border="" style="text-align: center;">
    <tr >
        <th>Sl No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Place</th>
    </tr>

    <tr *ngFor="let i of a;let j=index">
        <td>{{j+1}}</td>
        <td><img src="{{ i.src}}" alt="" height="100px"></td>   
        <td>{{ i.name}}</td>
        <td>{{ i.place}}</td>
        <br>
 
</table>


<app-app-child [parent]="a" (child)="fromchild($event)" (child1)="fake($event)"></app-app-child>

<table border="" style="text-align: center; width: 100%;">
    <tr >
        <th>Sl No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Place</th>
    </tr>
    <tr *ngFor="let i of c;let j=index">
        <td>{{j+1}}</td>
        <td> <img src="{{i.src}}" alt="" height="100px"></td>
        <td>{{i.name}}</td>
        <td>{{i.place}}</td>

    </tr>
</table>
<br>
<table border="" style="text-align: center; width: 100%;">
    <tr >
        <!-- <th>Sl No.</th> -->
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let i of store;let j=index" style="padding:10px ;">
        <!-- <td>{{j+1}}</td> -->
        <td> {{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>

    </tr>
</table>


<H1>Service</H1>
<table border="" class="table">
    <tr *ngFor="let i of e">
        <td><img src="{{i.src}}" alt="" height="100px"></td>
        <td>{{i.name}}</td>
        <td>{{i.place}}</td>
    </tr>
</table>



<button (click)="h()"> C</button>