 <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div>
        <label for="user">Username:</label>
        <input type="text" name="User Name" id="" ngModel>
    </div>
    <div>
        <label for="user">Password:</label>
        <input type="password" name="Password" id="" ngModel>
    </div>

    <div>
        <label for="user">Phno:</label>
        <input type="tel" name="User Phno" id="" ngModel>
    </div>

    <div ngModelGroup="Address">
        
    <div>
        <label for="user">City:</label>
        <input type="tel" name="City" id="" ngModel>
    </div>

    <div>
        <label for="user">District:</label>
        <input type="tel" name="District" id="" ngModel>
    </div>

    <div>
        <label for="user">State:</label>
        <select name="State" id="" ngModel >
            <option [value] ="country" *ngFor="let country of Countries" selected>{{country}}</option>
        </select>
    </div>

    </div>


    <div>
        <button type="submit">Submit</button>
        <button (click)="reset(form)">Reset</button>
    </div>

 </form>     -->

<!-- 

 <h4>User Name:{{form.value | json}}</h4>
 <h4>Valid:{{form.touched}}</h4>
 <h4>Valid:{{form.dirty}}</h4> -->

<!-- 
 

 <form action="" #newform="ngForm" (ngSubmit)="submit(newform)">

    <input type="text" name="user" ngModel>
    <input type="text"  name="last" ngModel>
    <input type="text" name="First" ngModel>

<button>Submit</button>

 </form> -->





 <!-- Reactive Forms  -->


<!-- 
 <form action=""   [formGroup]="newName" (ngSubmit)="onsubmit()">
    Name: <input type="text"  [formControl]="Nice">
    newName: <input type="text" formControlName="Name">
    Des: <input type="text" name="" id="" formControlName="Designation">
    <button (click)="update()">Click</button>
 </form>

<h1>{{Nice.value}}</h1> -->



<!-- 
<form action="" [formGroup]="Manoj1" (ngSubmit)="onsubmit()">
    <input type="text" formControlName="Name">
    <input type="text" formControlName="Role">
    <input type="text" formControlName="Manoj">


<button type="submit">Submit</button>
</form> -->

<!-- 

<form action="" [formGroup]="Manoj" (ngSubmit)="onsubmit()" >
    <input type="text" formControlName="Username">
    <input type="text" formControlName="Email">
    <input type="text" formControlName="Ph">
    <input type="text" [formControl]="man" name="name">
    <p>{{a}}</p>
    <button *ngIf="a;else mn" (disabled)="disabled()">Submit</button>

</form> 
<ng-template #mn>
    <button (disable)="enable()">Reset </button>
</ng-template> -->







