<h1>Parent to Child</h1>
<table border="" style="border-collapse: collapse;" class="table1">
    <tr>
        <th>Sl.No</th>
        <th>Image</th>
        <th>Name</th>
        <th>Place</th>
    </tr>
    <tr *ngFor="let i of parent;let g=index">
        <td>{{g+1}}</td>
        <td><img src="{{i.src}}" alt="" height="100px"></td>
        <td>{{i.name}}</td>
        <td>{{i.place}}</td>
    </tr>
    
</table>


<h1>Child</h1> <span><button (click)="fakeapi()">Fake</button></span>


<table border="">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let i of store">
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>
    </tr>
</table>
<h1>Child to Parent</h1>

<button (click)="magic()" style="margin: 10px;"  (click)="fake()">Click to see the magic</button>

<button *ngIf="u!=u"><a href="" routerLink="">Go Back to Manin Page</a></button>